/* 全画面共通のスタイル指定 */
body{
  background-color: #F4F5F7;
}

/* ログイン・サインイン画面のスタイル指定 */
.intoduce-signin{
  text-align: right;
}

.intoduce-signin, .intoduce-login a{
  color: blue;
  cursor: pointer;
  font-size: 20px;
}

.login{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.login-form p{
  color: white;
  font-size: 20px;
}

.login-info{
  margin-bottom: 60px;
}

.login-img{
  height: 500px;
}

.each-login-info{
  height: 50px;
  background-color: white;
  border: 2px black solid;
  border-radius: 10px;
  color: black;
}

.login-btn{
  background-color: #53354A;
  width: 45%;
  border-radius: 10px;
  cursor: pointer;
  margin: 0 auto;
}
.login-btn p{
  font-size: 28px;
  text-align: center;
}

.login-err{
  text-align: center;
  margin-top: 10px;
}

.each-signup-info{
  height: 50px;
  background-color: white;
  border: 2px black solid;
  border-radius: 10px;
  color: black;
}
.signup-info{
  margin-top: 20px;
  margin-bottom: 45px;
}

.signup-btn{
  background-color: #53354A;
  width: 55%;
  border-radius: 10px;
  cursor: pointer;
  margin: 0 auto;
}
.signup-btn p{
  font-size: 28px;
  text-align: center;
}
.intoduce-login{
  text-align: left;
}

/* ホーム画面のスタイル指定 */


.home-container{
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 50px;
  max-width: 1000px;
}

.function{
  background-color: #A2D9CE;
  border-radius: 10px;
  margin: 0 auto;
  margin-bottom: 30px;
  cursor: pointer;
  max-width: 350px;
  max-height: 350px;
  text-align: center;
}

.home-container p{
  text-align: center;
  font-size: 35px;
  margin-top: 10px;
}

.home-container img{
  height: 60%;
  margin: 0 auto;
  display: block;
  margin-top: 40px;
}

/* 体重変更画面のスタイル指定 */

.weight-container{
  text-align: center;
  color: white;
}

.back-btn{
  text-align: left;
  color: white;
  cursor: pointer;
  font-size: 20px;
}

.now-weight{
  margin-top: 50px;
}

.now-weight h2{
  font-size: 80px;
  margin-bottom: 50px;
}

.now-weight p{
  font-size: 30px;
  margin-bottom: 9px;
}

.weight-record{
  background-color: white;
  height: 55px;
  border-radius: 10px;
  margin-bottom: 40px;
  color: black;
  font-size: 30px;
}

.btn-success{
  background-color: #53354A;
  width: 15%;
  border-radius: 10px;
  cursor: pointer;
  margin: 0 auto;
  font-size: 30px;
  margin-bottom: 50px;
}
.span{
  font-size: 30px;
}

.btn-success{
  background-color: #53354A;
  width: 100px;
  border-radius: 10px;
  cursor: pointer;
  margin: 0 auto;
  font-size: 30px;
  margin-bottom: 50px;
}

.all-weight-btn{
  background-color: #53354A;
  width: 300px;
  border-radius: 10px;
  cursor: pointer;
  margin: 0 auto;
  font-size: 30px;
}

/* トレーニング選択画面のスタイル指定 */
.training-parts{
  background-color: #EEE2DE;
  border-radius: 10px;
  margin: 0 auto;
  margin-bottom: 30px;
  cursor: pointer;
  height: 50%;
}

.training-parts img{
  height: 400px;
  margin: auto;
  display: block;
}

.training-container{
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  text-align: center;
}

.training-container p{
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}

.choice-part{
  color: white;
  font-size: 35px;
  margin: 30px 0;
  text-align: center;
}

/* 記録選択画面のスタイル指定 */
.choice-record{
  background-color: #EEE2DE;
  border-radius: 10px;
  margin: 0 auto;
  margin-bottom: 30px;
  cursor: pointer;
}

.choice-record img{
  height: 450px;
  margin: auto;
  display: block;
}

.training_img{
  height: 100px;
}

.test{
  display: flex;
}

.exercise{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
}

.exercise img{
  height: 400px;
}

.description{
  width: 50%;
  text-align: left;
}

.description h1{
  font-size: 40px;
  margin-bottom: 20px;
}

.description p{
  font-size: 18px;
  margin-bottom: 20px;
}

.exercise-record{
  background-color: #53354A;
  width: 8%;
  border-radius: 10px;
  cursor: pointer;
  margin: 0 auto;
  font-size: 30px;
  margin-bottom: 50px;
  text-align: center;
  margin: 0 auto;
}

.record{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 70px;
}

/* Q&A画面のスタイル指定 */

.question{
  margin-top: 70px;
}

.qa-007 {
  margin: 0 auto;
  max-width: 500px;
  margin-bottom: 15px;
  border: none;
  border-radius: 25px;
  box-shadow: 0 4px 4px rgb(0 0 0 / 2%), 0 2px 3px -2px rgba(0 0 0 / 5%);
  background-color: #fff;
}

.qa-007 summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 1em 2em 1em 3em;
  color: #333333;
  font-weight: 600;
  cursor: pointer;
}

.qa-007 summary::before,
.qa-007 p::before {
  position: absolute;
  left: 1em;
  font-weight: 600;
  font-size: 1.3em;
}

.qa-007 summary::before {
  color: #75bbff;
  content: "Q";
}

.qa-007 summary::after {
  transform: translateY(-25%) rotate(45deg);
  width: 7px;
  height: 7px;
  margin-left: 10px;
  border-bottom: 3px solid #333333b3;
  border-right: 3px solid #333333b3;
  content: '';
  transition: transform .5s;
}

.qa-007[open] summary::after {
  transform: rotate(225deg);
}

.qa-007 p {
  position: relative;
  transform: translateY(-10px);
  opacity: 0;
  margin: 0;
  padding: .3em 3em 1.5em;
  color: #333;
  transition: transform .5s, opacity .5s;
}

.qa-007[open] p {
  transform: none;
  opacity: 1;
}

.qa-007 p::before {
  color: #ff8d8d;
  line-height: 1.2;
  content: "A";
}