{% extends './base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Q&A画面{% endblock %}

{% block content %}
<div class="back-btn"><a href="{% url 'workout:user' %}">&#8592;戻る</a></div>
<div class="question">
  <details class="qa-007">
    <summary>筋トレは週何回がおすすめですか？</summary>
    <p>人それぞれのライフスタイルがあるので一概には言えませんが、週3~4回がおすすめです。<br>週何回トレーニングできるかでトレーニング方法も変わってきます。例えば週三回であればPPL法という組み方もありでしょう。もしご興味があれば直接ご相談ください。お待ちしております。</p>
  </details>
  <details class="qa-007">
    <summary>筋肉がつきやすい食事は？</summary>
    <p>まず無理のない範囲で進めていきましょう。劇的に変える必要はなく日々の生活でタンパク質を意識して増やしていきましょう。おすすめの食材としては卵、鶏むね肉、ささみ、海鮮、鮭、鯖などです。</p>
  </details>
  <details class="qa-007">
    <summary>痩せたいけどランニングするべき？</summary>
    <p>いいえ。有酸素運動は脂肪燃焼には効果的ですが、「痩せやすい身体作り」には筋トレが効果的です。</p>
  </details>
  <details class="qa-007">
    <summary>筋トレか有酸素運動どっちが先？</summary>
    <p>筋トレを先にやりましょう。有酸素運動で先にエネルギーを十分に使ってしまっては、トレーニングでフルで力を発揮しづらくなってしまいます。筋トレ前のウォーミングアップ的に軽く有酸素はＯＫ！</p>
  </details><details class="qa-007">
    <summary>筋肉痛の時でも筋トレしていいですか？</summary>
    <p>筋肉痛の時は筋トレは辞めておきましょう。<br>筋トレはあくまで筋繊維を破壊する行為です。それが栄養や休息による超回復で筋肉は形成されていきます。よって筋肉痛というのは筋繊維がまだ完全に修復されていないということです。しっかり休みましょう。
    </p>
  </details>
  <details class="qa-007">
    <summary>サプリメントは必要ですか？</summary>
    <p>初心者のうちは必要ないです。正しく筋トレをし、たくさん食べ、ゆっくり休めば順調に筋肉は成長すると思います。タンパク質が普段の食事から十分に取れない方はプロテインくらいは摂ってもいいでしょう。</p>
  </details>
  <details class="qa-007">
    <summary>一回の筋トレの時間は？</summary>
    <p>60分~90分には納めるようにはしましょう。超時間やりすぎてもオーバーワークになりますし、なにより集中力が続かないでしょう。時間がない方は30,40分でも十分に効果は得られるかと思いますので、継続することが大切です！</p>
  </details>
  <details class="qa-007">
    <summary>痩せたいです。食事はどうすれば？</summary>
    <p>人それぞれの体質、筋肉量などによって変わってきますので、よろしければ直接ご連絡いただければと思います。</p>
  </details>
</div>
{% endblock %}